<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.frameworkdemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name="com.example.admin.frameworkdemo.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Rxjava.RxjavaTestActivity"></activity>
        <activity android:name=".DataBinding.DataBindingActivity"></activity>
        <activity android:name=".GreenDao.GreenDaoTestActivity"></activity>
        <activity android:name=".Picasso.PicassoMainActivity"></activity>
        <activity android:name=".Picasso.ListViewActivity"></activity>
        <activity android:name=".RecycleView.RecycleviewTestActivity"></activity>
        <activity android:name=".SelfdefineView.SelfdefineViewMainActivity"></activity>
        <activity android:name=".SelfdefineView.Test2Activity"></activity>
        <activity android:name=".SelfdefineView.Test3Activity"></activity>
        <activity android:name=".SelfdefineView.Test4Activity"></activity>
        <activity android:name=".SelfdefineView.tickview.TickviewMainActivity"></activity>
        <activity android:name=".PaseXML.PaseXmlTestActivity"></activity>
        <activity android:name=".DrawSigpanel.DrawSigpanelTest1Activity"></activity>
        <activity android:name=".DrawSigpanel.DrawSigpanelMainActivity"></activity>
        <activity android:name=".Fragment.FragmentMainActivity"></activity>
        <activity android:name=".OntouchAndOngesture.OntouchAndOngestureMainActivity"></activity>
        <activity android:name=".GestureLock.GestureLockMainActivity"></activity>
        <activity android:name=".MVPModel.MvpMainActivity"></activity>
        <activity android:name=".DrawLayout.DrawlayoutMainActivity"></activity>
        <activity android:name=".NavigationView.NavigationMainActivity"></activity>
        <activity android:name=".EventBus.EventBusMainActivity"></activity>
        <activity android:name=".ButterKnife.ButterKnifeMainActivity"></activity>
        <activity android:name=".classLoader.ClassLoaderActivity"></activity>
        <activity android:name=".LeakCanary.LeakMainActivity"></activity>
        <activity android:name=".AidlService.ServiceMainActivity"></activity>
        <activity android:name=".Service.ServiceTestActivity"></activity>
        <activity android:name=".ScrollerView.ScrollerMainActivity"></activity>
        <activity android:name=".ViewPager.ViewPagerMainActivity"></activity>
        <activity android:name=".Dispatch.DispatchMainActivity"></activity>
        <activity android:name=".LaunchMode.SecondActivity"></activity>
        <activity android:name=".ObserverModel.ObserverMainActivity"></activity>
        <activity android:name=".ProxyModel.ProxyMainActivity"></activity>
        <activity android:name=".Reflect.ReflectMainActivity"></activity>
        <activity android:name=".StrategyModel.StrategyMainActivity"></activity>
        <activity android:name=".ThreadPool.ThreadPoolMainActivity"></activity>
        <activity android:name=".ViewGroupSelfDef.ViewGroupSelfDefMainActivity"></activity>
        <activity android:name=".ActivityTest.ActivityTestMainActivity"></activity>
        <activity android:name=".ActivityTest.Activity2"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name=".Parcelable.ParcelableMainActivity"></activity>
        <activity android:name=".Parcelable.ParcelableActivity2"></activity>
        <activity android:name=".ConstraintLayout.ConstraintLayoutActivity"></activity>
        <activity android:name=".SocketTest.SocketMainActivity"></activity>
        <activity android:name=".ui.dialog.InputPasswordDialogTestActivity"></activity>
        <activity android:name=".leaktest.LeakTestActivity"></activity>
        <activity android:name=".lifecycle.TestActivityA"></activity>
        <activity android:name=".lifecycle.TestActivityB"></activity>
        <activity
            android:name=".LaunchMode.LaunchMainActivity"
            android:launchMode="singleInstance"></activity>

        <service android:name="com.example.admin.frameworkdemo.AidlService.AidlService">
            <intent-filter>
                <action android:name="android.intent.action.AIDLService" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>
        <service android:name="com.example.admin.frameworkdemo.Service.MyService"></service>
                 <!--android:process="com.example.admin.frameworkdemo.yourservice"-->
    </application>


</manifest>